<div class="form__field {{#if admin.width}}form__field--{{admin.width}}{{/if}}">
  <label for="field-{{name}}">
    {{label}}
    {{#if required}}<span class="required">*</span>{{/if}}
  </label>
  <input
    type="password"
    name="{{name}}"
    id="field-{{name}}"
    {{#if placeholder}}placeholder="{{placeholder}}"{{/if}}
    {{#if required}}required{{/if}}
    autocomplete="new-password"
    class="{{#if error}}form__input--error{{/if}}"
  />
  {{#if description}}<p class="form__help">{{description}}</p>{{/if}}
  {{#if error}}<p class="form__error">{{error}}</p>{{/if}}
</div>
