{{#if has_pagination}}
<nav class="pagination">
  {{#if has_prev}}
  <a class="button button--ghost" href="{{prev_url}}"
    hx-get="{{prev_url}}" hx-target="body" hx-push-url="true">
    Previous
  </a>
  {{/if}}

  <span class="pagination__info">Page {{page}} of {{total_pages}}</span>

  {{#if has_next}}
  <a class="button button--ghost" href="{{next_url}}"
    hx-get="{{next_url}}" hx-target="body" hx-push-url="true">
    Next
  </a>
  {{/if}}
</nav>
{{/if}}
